.receive-donate-heading
{
  text-align: center;
  margin-top: 25px;
}
.receive-donate-heading h1
{
  font-weight: 700;
  font-size: 54px;
  color: #00255B;
}
.receive-donate
{
  display: grid;
  width: 100%;
  height: auto;
  padding: 20px;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 25px;
}
.donate-button button,.receive-button button
{
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
  border-radius: 100%;
  border: none;
  background-color: #4992FF;
}
.donate-button img,.receive-button img
{
height: 350px;
width: 100%;
border-radius: 100%;
padding: 0px;
margin: 0px;
border: none;
}