.aboutUs-section
{
  background-color: #4992FF;
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
}
.logo-section img
{
  height: 400px;
  width: 400px;
}
.about-content
{
  text-align: center;
  padding: 20px;
}
.about-content h1
{
  text-align: center;
  font-size: 48x;
  font-weight: 800;
  color: #00255B;
}
.about-content p
{
  text-align: justify;
  font-size: 24px;
  color: black;
  font-weight: 400;
}